extends layout

block content
  br
  br
  center
    h1= title
  br
  br
  .row 
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230628/Fqvr/649b521beebac147fc0f9f73/-473Wx593H-465629043-pink-MODEL2.jpg',width="100%",height="350" )
           p.card-text
             center
              |Printed Blazer & Wide Leg Pants Set
              br
              br

              big
                b 
                  |   ₹858
            
          .card-body
              a.card-link(href='https://www.ajio.com/pannkh-printed-blazer--wide-leg-pants-set/p/465629043_pink',target="_blank") https://www.ajio.com/pannkh-printed-blazer--wide-leg-pants-set/p/465629043_pink
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230628/uVZU/649bbaa8eebac147fc1e409d/-473Wx593H-465922011-white-MODEL.jpg',width="100%",height="350" )
           p.card-text
             center
              |High-Rise Relaxed Fit Pants
              br
              br

              big
                b 
                  |   ₹390
            
          .card-body
              a.card-link(href='https://www.ajio.com/visit-wear-high-rise-relaxed-fit-pants/p/465922011_white',target="_blank") https://www.ajio.com/visit-wear-high-rise-relaxed-fit-pants/p/465922011_white
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/181100214/7o4q6_512.webp',width="100%",height="350" )
           p.card-text
             center
              |SAKSHI TRADER Stylish Embellised Blazer
              br
              br

              big
                b 
                  |   ₹475
            
          .card-body
              a.card-link(href='https://www.meesho.com/sakshi-trader-stylish-embellised-blazer/p/2ztlti',target="_blank") https://www.meesho.com/sakshi-trader-stylish-embellised-blazer/p/2ztlti
    