extends layout

block content
  br
  br
  center
    h1= title
  br
  br
  .row 
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230720/wIpF/64b95f76eebac147fc7f3977/-473Wx593H-466373998-yellow-MODEL2.jpg',width="100%",height="350" )
           p.card-text
             center
              |Contrast Border Saree with Woven Motifs
              br
              br

              big
                b 
                  |   ₹699
            
          .card-body
              a.card-link(href='https://www.ajio.com/saree-mall-contrast-border-saree-with-woven-motifs-/p/466373998_yellow',target="_blank") https://www.ajio.com/saree-mall-contrast-border-saree-with-woven-motifs-/p/466373998_yellow
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/246204307/gcqbg_512.webp',width="100%",height="350" )
           p.card-text
             center
              |Women's Rayon Printed Anarkali Kurti with Pant and Dupatta Set
              br
              br

              big
                b 
                  |   ₹602
            
          .card-body
              a.card-link(href='https://www.meesho.com/womens-rayon-printed-anarkali-kurti-with-pant-and-dupatta-set/p/42l0gj',target="_blank") https://www.meesho.com/womens-rayon-printed-anarkali-kurti-with-pant-and-dupatta-set/p/42l0gj
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/240591384/vvcid_512.webp',width="100%",height="350" )
           p.card-text
             center
              |rendzy Fancy Bollywood net Lahenga Choli
              br
              br

              big
                b 
                  |   ₹623
            
          .card-body
              a.card-link(href='https://www.meesho.com/trendzy-fancy-bollywood-net-lahenga-choli/p/3z8pi0',target="_blank") https://www.meesho.com/trendzy-fancy-bollywood-net-lahenga-choli/p/3z8pi0
    