extends layout

block content
  br
  br
  center
    h1= title
  br
  br
  .row 
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230623/Ffc9/6495d1bba9b42d15c9cb261b/-473Wx593H-466302538-blue-MODEL.jpg',width="100%",height="350" )
           p.card-text
             center
              |Floral Print Georgette Fit & Flare Dress
              br
              br

              big
                b 
                  |   ₹950
            
          .card-body
              a.card-link(href='https://www.ajio.com/fashion-2-wear-floral-print-georgette-fit--flare-dress/p/466302538_blue',target="_blank") https://www.ajio.com/fashion-2-wear-floral-print-georgette-fit--flare-dress/p/466302538_blue
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230616/aF6U/648c8fff42f9e729d7489dea/-473Wx593H-466281600-green-MODEL.jpg',width="100%",height="350" )
           p.card-text
             center
              |Leaf Print Palazzos with Elasticated Waist
              br
              br

              big
                b 
                  |   ₹320
            
          .card-body
              a.card-link(href='https://www.ajio.com/wuxi-leaf-print-palazzos-with-elasticated-waist-/p/466281600_green',target="_blank") https://www.ajio.com/wuxi-leaf-print-palazzos-with-elasticated-waist-/p/466281600_green
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/196876820/cxagl_512.webp',width="100%",height="350" )
           p.card-text
             center
              |Classy Feminine Women Dresses
              br
              br

              big
                b 
                  |   ₹620
            
          .card-body
              a.card-link(href='https://www.meesho.com/classy-feminine-women-dresses/p/397r4k',target="_blank") https://www.meesho.com/classy-feminine-women-dresses/p/397r4k
    