extends layout

block content
  br
  br
  center
    h1= title
  br
  br
  .row 
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230609/jk9v/648354d742f9e729d735e3c1/-473Wx593H-442249880-black-MODEL.jpg',width="100%",height="350" )
           p.card-text
             center
              |Oversized Crop Graphic T-Shirt
              br
              br

              big
                b 
                  |   ₹599
            
          .card-body
              a.card-link(href='https://www.ajio.com/outryt-oversized-crop-graphic-t-shirt/p/442249880_black',target="_blank") https://www.ajio.com/outryt-oversized-crop-graphic-t-shirt/p/442249880_black
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/292264041/t7lmb_512.webp',width="100%",height="350" )
           p.card-text
             center
              |Printed Latest Stylish best trendy Casual cotton oversized t shirt for women
              br
              br

              big
                b 
                  |  ₹228
            
          .card-body
              a.card-link(href='https://www.meesho.com/printed-latest-stylish-best-trendy-casual-cotton-oversized-t-shirt-for-women/p/4u08dl',target="_blank") https://www.meesho.com/printed-latest-stylish-best-trendy-casual-cotton-oversized-t-shirt-for-women/p/4u08dl
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/270026664/4zwh0_512.webp',width="100%",height="350" )
           p.card-text
             center
              |2 Piece Set, Top And Bottom Set
              br
              br

              big
                b 
                  |   ₹893
            
          .card-body
              a.card-link(href='https://www.meesho.com/2-piece-set-co-ord-set-over-size-co-ord-set-top-and-bottom-set-matching-set-matching-top-and-bottom-set-printed-co-ord-set-coord-set-for-women-crop-top-and-wide-le-pant-set/p/4grlwo',target="_blank") https://www.meesho.com/two-piece-top-bottom/p/4p2cyb
 