extends layout

block content
  br
  br
  center
    h1= title
  br
  br
  .row 
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/283965203/egmyz_512.webp',width="100%",height="350" )
           p.card-text
             center
              |White Crop Cami Tank Top For Women
              br
              br

              big
                b 
                  |   ₹87 (onward)
              br
              |   Delivery ₹70
            
          .card-body
              a.card-link(href='https://www.meesho.com/white-crop-cami-tank-top-for-women/p/4p2cyb',target="_blank") https://www.meesho.com/white-crop-cami-tank-top-for-women/p/4p2cyb
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://images.meesho.com/images/products/291512492/uzxcb_400.webp',width="100%",height="350" )
           p.card-text
             center
              |WOMENS PREMIUM COTTON BLEND TSHIRT
              br
              br

              big
                b 
                  |   ₹131 (onward)
              br
              |   Free Delivery
            
          .card-body
              a.card-link(href='https://www.meesho.com/womens-premium-cotton-blend-tshirt/p/4tk4h8',target="_blank") https://www.meesho.com/womens-premium-cotton-blend-tshirt/p/4tk4h8
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230624/Ui6H/6496c13deebac147fcfd453e/-473Wx593H-465343289-black-MODEL5.jpg',width="100%",height="350" )
           p.card-text
             center
              big
                b 
                  | KOTTY
              br
              |High-Rise Bootcut Jeans
              br
              br

              big
               b 
                |   ₹700 
            
          .card-body
              a.card-link(href='https://www.ajio.com/kotty-high-rise-bootcut-jeans/p/465343289_black',target="_blank") https://www.ajio.com/kotty-high-rise-bootcut-jeans/p/465343289_black
    .col-md-3.col-sm-6 
      .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20221114/BUDL/63726f64aeb269659c8c2552/-473Wx593H-469194079-iceblue-MODEL.jpg',width="100%",height="350" )
           p.card-text
             center
              big
                b 
                  | BUDA JEANS CO
              br
              |Mid Rise Flared Jeans with Frayed Hem
              br
              br

              big
                b 
                  |   ₹540
            
          .card-body
              a.card-link(href='https://www.ajio.com/buda-jeans-co-mid-rise-flared-jeans-with-frayed-hem/p/469194079_iceblue',target="_blank") https://www.ajio.com/buda-jeans-co-mid-rise-flared-jeans-with-frayed-hem/p/469194079_iceblue
    .row 
      .col-md-3.col-sm-6
        .card.border-secondary.text-white.bg-secondary.mb-3
          .card-body 
            .container
              .row
                .col.s12.m3
                  .card-image
                    img.responsive-img(src='https://assets.ajio.com/medias/sys_master/root/20230629/sf0G/649cb21fa9b42d15c91728f3/-473Wx593H-465969611-red-MODEL.jpg',width="100%",height="350" )
            p.card-text
              center
                big
                b 
                  | AASK
                br
                |Fit & Flare Dress with Back Cutout
                br
                br

                big
                  b 
                    |   ₹882 
              
          .card-body
                a.card-link(href='https://www.ajio.com/aask-fit--flare-dress-with-back-cutout/p/465969611_red',target="_blank") https://www.ajio.com/aask-fit--flare-dress-with-back-cutout/p/465969611_red
